<ng-component ngif="!isLoggedIn">
    <form #addUserForm="ngForm" (submit)="adduser(addUserForm)">
        <input
            [ngModel]
            name="username"
            type="text" 
            placeholder="username"
        >

        <input
            [ngModel]
            name="password"
            type="password" 
            placeholder="password"
        >
        <input
        [ngModel]
        name="repeat password"
        type="password" 
        placeholder="password"
        >
        <button type="submit">register</button>
    </form>
</ng-component>