<div class="container-fluid text-center">
<form #commentsForm="ngForm" (submit)="createComment(commentsForm)">
    <div class="mb-3">
        <label for="comment" class="form-label"><h1>Scrivi una recensione:</h1></label>
        <textarea [ngModel] name="comment" minlength="30" maxlength="160" class="form-control" id="comment" #comment="ngModel" rows="3" required></textarea>
        <div [hidden]="comment.valid "
            class="alert alert-danger">
            La recensione deve essere compresa tra i 30 e i 160 caratteri!
        </div>
    </div>
<button type="submit" class="CreaCommento">Create Comment</button>
</form>
</div>
