<div class="container-col-12">
    
    <div *ngIf="this.start; then gamePlay else startBlock"></div>
    
    
    <ng-template #gamePlay>
        <div class="text-center">
            <h2 class="logo" *ngIf="!this.finish"> Indovina il titolo </h2>
            <h2 class="logo" *ngIf="this.finish"> Sì, era "{{movieSpecs?.title}}" e hai vinto {{points}} punti! </h2>
            <h3 class="logo" *ngIf="!this.finish">Tempo {{minutes}}:{{seconds}}</h3>
                
                <div *ngIf="this.finish">
                    <img [src]="newMovieService.getLocandina(this.movieSpecs?.poster_path)" id="locandina" [border]="3"  width="30%" height="30%">
                </div>
        </div>

        <div *ngIf="!this.finish">
            <ul>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="logo">Genere:</h5>
                    </div>
                    <div class="col-4">
                        <span class="logo" *ngFor="let genre of movieSpecs?.genres"> 
                            {{genre.name}}
                        </span>
                    </div>
                    </div>
                </li>
                
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="logo">Durata:</h5>
                    </div>
                    <div class="col-4">
                        <button class="button" name="button" (click)="onClickShowRuntime()" [hidden]="showRuntime">Mostra</button> 
                        <p class="logo" name="button" [(ngModel)]="onClickShowRuntime" ngDefaultControl [hidden]="!showRuntime">{{movieSpecs?.runtime}} minuti</p>
                    </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="logo" >Data d'uscita:</h5>
                        </div>
                    <div class="col-4">
                        <p class="logo"> {{movieSpecs?.release_date}}</p>
                    </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="logo">Votazione media:</h5>
                        </div>
                    <div class="col-4">
                        
                            <button class="button" name="button" (click)="onClickShowVote()" [hidden]="showVote">Mostra</button> 
                            <p class="logo" [(ngModel)]="onClickShowVote" ngDefaultControl [hidden]="!showVote">{{movieSpecs?.vote_average}}/10</p>
                        
                    </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="logo">Lingua originale:</h5>
                        </div>
                    <div class="col-4">
                        <button class="button" name="button" (click)="onclickOrLanguage()" [hidden]="showOrLanguage">Mostra</button> 
                        <p class="logo" [(ngModel)]="onclickOrLanguage" ngDefaultControl [hidden]="!showOrLanguage">{{movieSpecs?.title}}</p>
                    </div>
                    </div>
                </li>
            </ul>
        </div>


    <div *ngIf="this.finish; then endBlock else verifyTitle"></div>

    <ng-template #verifyTitle>
    <div class="text-center" style="padding:50px 0">
        <div class="login-form-1">
            <form  #verifyForm="ngForm" (submit)="verifyResult(verifyForm)" name="Title">
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                             <label for="Title">Inserisci il titolo:</label>
                             <input [ngModel] name="Title"  type="text" class="form-control" id="Title">
                              <hr><button type="submit" class="button-2">Indovina!</button> 
                         </div>
                     </div>
                 </div>     
            </form>
        </div>
    </div>
    </ng-template>

        <ng-template #endBlock> 
            <app-create-favourite-movie [movieId]="movieId" id="createButton">
            </app-create-favourite-movie>
        </ng-template>

    </ng-template>
  
        <ng-template #startBlock>
            <div class="row col-3">

                    <div class="start">
                    <input (click)="onStart()" type="button" class="start-button" value="START!">
                </div>       
            </div>
            
        
        </ng-template>

</div>
