<div class="container">
  <div>
    <div *ngIf="this.start; then gamePlay else startBlock"></div>
    
    
    <ng-template #gamePlay>
      <div class="text-center">
        <h2> Indovina il titolo </h2>
        <h3 *ngIf="!this.finish">Tempo {{minutes}}:{{seconds}}</h3>
        <div *ngIf="this.finish || this.stop">
        <img [src]="newMovieService.getLocandina(this.movieSpecs?.poster_path)" id="locandina" [border]="3"  width="30%" height="30%">
        </div>
        </div>
    <ul class="list-group list-group-flush" id="attributi">
      <li class="list-group-item">
      <div class="row">
          <div class="col-6">
              <h5>Titolo:</h5>
          </div>
          <div class="col-4" *ngIf="this.finish || this.stop">
              {{movieSpecs?.title}}
          </div>
      </div>
      </li>
      <li class="list-group-item">
          <div class="row">
              <div class="col-6">
                  <h5>Genere:</h5>
              </div>
              <div class="col-4">
              <span *ngFor="let genres of movieSpecs?.genres"> 
                  {{genres.name}}
              </span>
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="row">
              <div class="col-6">
                  <h5>Durata:</h5>
              </div>
              <div class="col-4">
                <button (click)="onClickShowRuntime()" [hidden]="showRuntime">Mostra</button> 
                <p [(ngModel)]="onClickShowRuntime" [hidden]="!showRuntime">{{movieSpecs?.runtime}} minuti</p>
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="row">
              <div class="col-6">
                  <h5>Data d'uscita:</h5>
              </div>
              <div class="col-4">
                  {{movieSpecs?.release_date}}
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="row">
              <div class="col-6">
                  <h5>Votazione media:</h5>
              </div>
              <div class="col-4">
                <button (click)="onClickShowVote()" [hidden]="showVote">Mostra</button> 
                <p [(ngModel)]="onClickShowVote" [hidden]="!showVote">{{movieSpecs?.vote_average}}/10</p>
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="row">
              <div class="col-6">
                  <h5>Lingua originale:</h5>
              </div>
              <div class="col-4">
                <button (click)="onclickOrLanguage()" [hidden]="showOrLanguage">Mostra</button> 
                <p [(ngModel)]="onclickOrLanguage" [hidden]="!showOrLanguage">{{movieSpecs?.title}}</p>
              </div>
          </div>
      </li>
  </ul>
  <div *ngIf="this.finish; then endBlock else verifyTitle"></div>


  <ng-template #verifyTitle>

    <form  #verifyForm="ngForm" (submit)="verifyResult(verifyForm)">
      <div class="row">
        
      <label for="Title" class="form-label">Inserisci il titolo:</label>
        <input [ngModel] name="Title" type="text" class="form-control" id="Title"><hr>
      
      <button type="submit" class="btn-primary">Indovina!</button>
    </div>
    </form>
    <div class="row">
    <br><button (click)="onStop()" class="btn-primary">Stop!</button>
    </div>
 
    </ng-template>


        <ng-template #endBlock>
                     
      <button  type="button">Salva Film</button> <!--Agganciare metodo-->
      </ng-template>
</ng-template>
  <hr>
  <ng-template #startBlock>
    <div> 
    <button (click)="onStart()" type="button" class="btn btn-primary">Inizia</button></div>
</ng-template>
  <br><br><br><br><br><br><br><br>
  </div>
</div>