#poster{
    display:block;
    margin:0px auto;
    text-align:center;
}
hr{
    color: red;
}

#locandina{
    float: left; padding: 15px 15px 15px 0;
}

#attributi{
    padding:10px; float:inline-start; 
}