#poster{
    display:block;
    margin:0px auto;
    text-align:center;
}
hr{
    color: red;
}

#locandina{
    float: left; padding: 15px 15px 15px 0;
    width: 30%;
    height: 25%;
}

#attributi{
    padding:5px; float:inline-start; 
    width: 50%;
    height: 25%;
}