<div class="text-center" style="padding:50px 0">
	<form>
        <input type="button" value="Torna alla home" 
        onClick= "location.href = 'http://localhost:4200/home'"
        id="goBack">
    </form>
<div class="container-fluid text-center">
	<form #favourite="ngForm" (submit)="createFavouriteMovie(favourite)">
		<div class="mb-3">
			<h3>Scrivi una recensione: </h3>
			<textarea [ngModel] name="comment" id="comment" rows="5" cols="35" maxlength="160" required></textarea>
		</div>
		<div class="mb-3">
				<h3>Inserisci la tua votazione:</h3>  
				<br>   
			 <p>
				&nbsp;<input 
					[ngModel] name="movie_rating" id="movie_rating" 
					name="movie_rating"
					id="1"
					type="radio"
					value="1"
				>
				<label for="1">1</label> <br>
			
				
				&nbsp;<input 
					[ngModel] name="movie_rating" id="movie_rating"
					name="movie_rating"
					id="2"
					type="radio"
					value="2"
				>
				<label for="2">2</label><br>
			
				
				&nbsp;<input 
					[ngModel] name="movie_rating" id="movie_rating"
					name="movie_rating"
					id="3"
					type="radio"
					value="3"
				>
				<label for="3">3</label><br>
			
				
				&nbsp;<input 
					[ngModel] name="movie_rating" id="movie_rating"
					name="movie_rating"
					id="4"
					type="radio"
					value="4"
				>
				<label for="4">4</label><br>
			
				
				&nbsp;<input 
					[ngModel] name="movie_rating" id="movie_rating"
					name="movie_rating"
					id="5"
					type="radio"
					value="5"
				>
				<label for="5">5</label><br>
			</p>
		</div>	
		<button type="submit" class="login-button" *ngIf="!isFavMovie">Add Favourites</button>
	</form>
	</div>
</div>