.login-form-1 .login-button {
  position: relative;
  right: -10px;
  top: 50%;
  background: rgb(0,0,0);
  color: rgb(200, 0, 0);
  font-weight: bold;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid rgb(35, 35, 35);
  border-radius: 50%;
  transition: all ease-in-out 1000ms;
}
.login-form-1 .login-button:hover {
  color: rgb(137, 32, 32);
  transform: rotate(720deg);
}
.login-form-1 .login-button.clicked {
  color: rgb(137, 32, 32);
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.card {
  margin: 0;
  background-color: black;
}

h3{
  margin-left: auto;
  margin-right: auto;
  color:  rgb(137, 32, 32);
}

#goBack{
  position: absolute;
  width: 40x;
  height: 40px;
  background-color: rgb(137, 32, 32);
  right: 350px;
  top: 8px;
  font-weight: bold;
  height:auto;
  
}