<div class="text-center" style="padding:50px 0">
	<div class="login-form-1">
		<form id="login-form" class="text-left" #loginForm="ngForm" (submit)="login(loginForm)">
			<div class="login-form-main-message">Login</div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Username</label>
						<input [ngModel] type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input [ngModel] type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
					</div>
				</div>
				<button type="submit" class="login-button">Login!!!</button>
			</div>
		</form>
        <div class="etc-login-form">
            <p>new user? <a href="../register/">create new account</a></p>
        </div>
	</div>
</div>