<!--<div class="container-fluid text-center">
<form #ratingForm="ngForm" (submit)="createNewRating(ratingForm)">
    <h1>Rating:</h1>  <br>   
 <p>
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" #movie_rating="ngModel"
        name="movie_rating"
        id="1"
        type="radio"
        value="1"
    >
    <label for="1">1</label> <br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" #movie_rating="ngModel"
        name="movie_rating"
        id="2"
        type="radio"
        value="2"
    >
    <label for="2">2</label><br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" #movie_rating="ngModel"
        name="movie_rating"
        id="3"
        type="radio"
        value="3"
    >
    <label for="3">3</label><br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" #movie_rating="ngModel"
        name="movie_rating"
        id="4"
        type="radio"
        value="4"
    >
    <label for="4">4</label><br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" #movie_rating="ngModel"
        name="movie_rating"
        id="5"
        type="radio"
        value="5"
    >
    <label for="5">5</label><br>
</p>
<button type="submit" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Vota</button>
</form>
</div>
-->