<div class="container-fluid text-center">
<form #ratingForm="ngForm">
    <h3>Rating:</h3>  
 <p>
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" 
        name="movie_rating"
        placeholder="movie_rating"
        id="1"
        type="radio"
        value="1"
    >
    <label for="1">1</label> <br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" 
        name="movie_rating"
        placeholder="movie_rating"
        id="2"
        type="radio"
        value="2"
    >
    <label for="2">2</label><br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" 
        name="movie_rating"
        placeholder="movie_rating"
        id="3"
        type="radio"
        value="3"
    >
    <label for="3">3</label><br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" 
        name="movie_rating"
        placeholder="movie_rating"
        id="4"
        type="radio"
        value="4"
    >
    <label for="4">4</label><br>

    
    &nbsp;<input 
        [ngModel] name="movie_rating" id="movie_rating" 
        name="movie_rating"
        placeholder="movie_rating"
        id="5"
        type="radio"
        value="5"
    >
    <label for="5">5</label><br>
</p>
<br>
<button (click)="createNewRating(ratingForm)" class="login-button" onclick="this.disabled=true" data-bs-toggle="button" autocomplete="off">Add</button>
</form>
<hr width=100% size="10">
</div>
