<div class="container">
    <div class="movie"  *ngFor="let movie of moviesData">
      <img [src]="this.movieAPIService.getLocandina( this.movie.poster_path)" id="locandina" [border]="3"  width="25%" height="25%"/>
    <ul class="list-group list-group-flush" id="attributi">
        <li class="list-group-item">
        <div class="row">
            <div class="col-6">
                <h5>Titolo:</h5>
            </div>
            <div class="col-4">
                {{movie.title}}
            </div>
        </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <h5>Genere:</h5>
                </div>
                <div class="col-4">
                <span *ngFor="let genres of movie?.genres"> 
                    {{genres.name}}
                </span>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <h5>Durata:</h5>
                </div>
                <div class="col-4">
                    {{movie?.runtime}} minuti
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <h5>Data d'uscita:</h5>
                </div>
                <div class="col-4">
                    {{movie?.release_date}}
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <h5>Votazione media:</h5>
                </div>
                <div class="col-4">
                    {{movie?.vote_average}}/10
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6">
                    <h5>Titolo Originale:</h5>
                </div>
                <div class="col-4">
                    {{movie?.original_title}}
                </div>
            </div>
        </li>
    </ul>
    <div *ngFor="let favouriteMovie of movies">
        <app-delete-favourite-movie *ngIf="favouriteMovie.movie_id === movie.id" [favouriteMovieId]="favouriteMovie.id">
        </app-delete-favourite-movie>
    </div> 
    <br><br><br><br><br><br><br><br>
    </div>
</div>