<div class="container">
    <form>
        <input type="button" value="Torna alla home" 
        onClick= "location.href = 'http://localhost:4200/home'"
        id="goBack">
    </form>

    <br><br>
    <h1 class="listaPreferiti">Ecco la tua lista preferiti:</h1>
    <br>
    <div class="movie"  *ngFor="let movie of moviesData">
    <div class="card">
        <h3 class="card-title">{{movie.title}}</h3>
    <img [src]="this.movieAPIService.getLocandina( this.movie.poster_path)" id="locandina" width="30%" height="30%"/>
    <div class="card-body">
        <div class="details" style="padding:50px 0">
            <div class="login-form-1">
                <form id="login-form" class="text-left"> 
                    <a href="http://localhost:4200/movie/details/{{movie.id}}">
                    <input type="button" value="Detail" class="login-button">
                </a>
                    <div class="login-form-main-message"></div>
                </form>
            </div>
        </div>
    <div *ngFor="let favouriteMovie of movies">
        <app-delete-favourite-movie *ngIf="favouriteMovie.movie_id === movie.id" [favouriteMovieId]="favouriteMovie.id" id="deleteButton" onClick="document.location.reload()">
        </app-delete-favourite-movie>
    </div> 
    </div>
    <hr width=100% size="10">
</div> 
    </div>
</div>